body,
html {
	background-color: $background-color;
	font-size: 20px;
	margin: 0;
	padding: 0;
	color: $white;
	font-family: $font-default;
	overflow-x: hidden;
	scroll-behavior: smooth;

	@media (max-width: 500px) {
		font-size: medium;
	}
}

html[data-debug='true'] * {
	outline: 3px solid limegreen;
	background: rgb(0 100 0 / 0.1) !important;
}

* {
	box-sizing: border-box;
}

h3 {
	margin: 0;
	margin-top: 0.5rem;
}

.hidden {
	display: none;
}
