#root {
	min-height: 100vh;
	min-height: 100dvh;

	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-content: center;

	padding: 0 0.5rem;

	@media (min-width: 750px) {
		padding: 0 2rem;
	}

	header {
		text-align: center;
	}

	main {
		display: flex;
		flex-direction: column;
		position: relative;
		width: calc(100vw - 0.5rem);
		@media (min-width: 750px) {
			width: 80vw;
		}
	}

	footer {
		padding: 1rem;
	}
}
