// colors

$white: #ffffff;
$black: #0c1016;

$us-gray: #dfe0dd;
$us-orange: #e57a15;

$primary: #f4511e;
$primary-hover: #e64a19;

// general

$background-color: $black;

$button-height: 2.5rem;
$mb-component: 1rem;
