.table-container {
	overflow-x: auto;

	table {
		border-collapse: collapse;
		width: 100%;
	}

	tr:nth-child(even) {
		opacity: 0.7;
	}

	caption {
		margin: 0.5rem 0;
		display: block;
		color: $primary;
		font-size: x-large;
		margin-left: 0.25rem;
	}

	th,
	td {
		border: 1px solid #dddddd;
		text-align: left;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 8px;

		&:nth-of-type(1) {
			width: 3.125rem;
		}

		&:nth-of-type(2) {
			min-width: 30vw;
		}

		&:nth-of-type(3) {
			min-width: 65vw;
		}

		@media (min-width: 750px) {
			&:nth-of-type(2) {
				min-width: unset;
				max-width: unset;
				width: 12rem;
			}

			&:nth-of-type(3) {
				min-width: 20rem;
				width: 25rem;
			}
		}
	}

	// hide id
	@media (max-width: 750px) {
		th:not(.heading),
		td {
			&:nth-of-type(1) {
				display: none;
			}
		}
	}
}
